html,
body,
#root,
#root > div {
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #71bbc5;
}

.Dashboard {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 10px;
}

.Main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

button {
	display: flex;
	font-size: 30px;
	padding: 10px;
	margin: 10px;
	outline: none;
	border: 3px solid #71bbc5;
	color: black;
	cursor: pointer;
	background-color: #b6e9f0;
}

button:hover,
button:focus {
	border-color: #036979;
}

h1 {
	font-size: 42px;
	margin-bottom: 0;
}

